<header>
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: hsl(0, 0%, 100%);">
        <img src="https://i.postimg.cc/25cC4fXv/graduation.png" alt="">
      <a class="navbar-brand text-dark" href=""><h2>OnlineProfessor</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel" style="background-color: hsl(0, 0%, 100%);;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">OnlineProfessor</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body" style="color: hsl(218, 56%, 55%) ;">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="dashboard" style="color: hsl(218, 56%, 55%) ;"><h5>Home</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login" style="color: hsl(218, 56%, 55%) ;"><h5>Login</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile" style="color: hsl(218, 56%, 55%) ;"><h5>Profile</h5></a>
              </li>
              
            </ul>
            
          </div>
      </div>
    </nav>
  </header>