<div >
  <div style="position: relative; min-height: 20vh; margin-top: 100px;" id="wave">
     
    <div class="custom-shape-divider-bottom-1681232266">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
  </div>
  </div>
  
  
  
  <section *ngIf="(email)" class="mt-5 container text-center" style="background-color: #ffffff; width: 100;">
          <div class="container py-5 h-75" >
            <div class="row d-flex justify-content-center align-items-center h-100 mb-5">
              <div class="col-md-12 col-xl-4">
        
                <div class="card" style="border-radius: 15px;  background-image: linear-gradient( hsl(218, 56%, 55%), hsl(219, 35%, 62%));">
                  <div class="card-body text-center text-light">
                    <div class="mt-3 mb-4">
                      <img src="https://i.postimg.cc/cJzgvBDj/user.png"
                        class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2">{{firstname}} {{lastname}}</h4>
                    <p class=" mb-4 text-light"><span class="mx-2"><i class="fas fa-envelope mr-3"></i> {{email}} </span> <a
                        href="#!"></a></p>
                    
                    <button type="button" (click)="logout()" class="btn btn-outline-light btn-rounded ">
                      Log Out
                    </button>
                    
                    
                  </div>
                </div>
        
              </div>
            </div>
            </div>
            <div>
              <div class="container text-center mt-5 mb-5" style="height: fit-content;">
                <h3>Booked Classes</h3>
                <div *ngFor="let i of bookings" class="card mb-3 container"  style="width:50%; border:2px solid  hsl(219, 50%, 76%); ">
                <div class="row g-0">
                  <div class="col-lg-6 col-md-12">
                    <div class="flex-shrink-0 p-2">
                        <img src="{{i.image}}"
                          alt="Generic placeholder image" class="img-fluid"
                          style="width: 180px; border-radius: 10px;">
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="flex-grow-1 ms-3 p-2">
                        <h5 class="mb-1">{{i.name}}</h5>
                        <p class="mb-2 pb-1" style="color: #2b2a2a;">{{i.subject}} Professor</p>
                        <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                          style="background-color: #efefef;">
                          <div class="container text-center">
                            <p class="small text-muted mb-1">Fees</p>
                            <p class="mb-0">₹ {{i.fees}} per class</p>
                          </div>
                          
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div> 
            </div>
            

            
          
        
  
  
          
        </section>
  
        
  
</div>




<div *ngIf="!(email)" class="mb-5" style="margin-top: 100px;">


    <div class="card text-center container" style="margin-top: 100px; width: 50%; border: 2px solid  hsl(219, 50%, 76%); border-radius: 30px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
      
      <div class="card-body">
        <h5 class="card-title">Oops! Access Denied</h5>
        <p class="card-text">You need to Login, to see more.</p>
        <a href="login" class="btn text-white" style="background-color:hsl(218, 26%, 55%);">Log In</a>
      </div>
     
    </div>
 

</div>