.custom-shape-divider-bottom-1681232266 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681232266 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1681232266 .shape-fill {
    fill: #FFFFFF;
}

#wave{
    background-image: linear-gradient(to right, hsl(218, 56%, 55%), hsl(219, 35%, 62%));
}