.banner-area{
    height: auto;
    top:80px;
    position: relative;
   
}   

.top-left {
    position: absolute;
    top: 30px;
    left: 50%;
  transform: translate(-50%, -50%);
  }

.custom-shape-divider-bottom-1681232266 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681232266 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
}

.custom-shape-divider-bottom-1681232266 .shape-fill {
    fill: #FFFFFF;
}

#cardmain:hover{
    transform: scale(1.1);
    transition: 200ms;
}

#user{
    font-family: 'Carter One', cursive;
    color: rgb(54, 50, 50);
}

#div1{
    font-family: 'Carter One', cursive;
}

p{
    font-family: 'Poppins', sans-serif;
}

h3{
    font-family: 'Carter One', cursive; 
}