<div>
    <div class="banner-area">
        <img src="https://i.postimg.cc/vZCLJ42y/portrait-smiling-nostalgic-female-student-looking-upper-left-corner-holding-notebooks.jpg" style="width: 100%; height: auto; padding-bottom: 2px;" alt="">
        <div class="custom-shape-divider-bottom-1681232266">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
</div>





<section class="py-5 mt-5 container text-center">

    
    <div class="card mb-3 mt-5" style="width: 100%;">
        <div class="row g-0" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <div class="col-lg-6 col-md-12">
            <img src="https://i.postimg.cc/nh6DwvsK/young-woman-attend-courses-girl-student-studying-holding-notebooks-showing-thumb-up-approval-recomme.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <h3 id="usermain" class="card-title">OnlineProfessor</h3>
              <p class="card-text mt-5 fs-5">Welcome to OnlineProfessor, where learning never stops! We provide a wide range of courses and programs designed to meet your educational needs, from primary school to advanced professional development. Our website offers a user-friendly interface that allows you to access educational resources from anywhere in the world. Our expert instructors and dedicated support team are here to help you every step of the way. Join us today and discover the joy of learning online!.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    
    
</section>

<section class="my-5 container text-center mt-5">

   <div class="container text-center w-75">
        <div class="card mb-5" style="width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="row g-0">
              <div class="col-lg-6 col-md-12">
                <img src="https://i.postimg.cc/NFH2nCcY/2341228.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Mathematics</h5>
                  <p class="card-text">Mathematics is a fundamental branch of science that deals with the study of numbers, quantities, and shapes. It is a subject that has been around for thousands of years and has evolved into a sophisticated and powerful tool for solving real-world problems.

                    Mathematics is used in almost every aspect of our lives, from calculating the distance between two points to analyzing complex financial data. It provides us with a common language for expressing and understanding ideas that can be applied in a wide range of fields, including science, engineering, finance, and even art.
                    
                    Mathematics is a vast and diverse field, with many branches and sub-disciplines such as algebra, geometry, calculus, and statistics. Each branch has its own unique set of concepts, tools, and techniques that are used to solve specific problems.</p>
                 
                </div>
              </div>
            </div>
          </div>
    
          <div class="card mb-5"  style="width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="row g-0">
              <div class="col-lg-6 col-md-12">
                <img src="https://i.postimg.cc/d0ZFrbmq/2358668.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Chemistry</h5>
                  <p class="card-text">Chemistry is the scientific study of matter and the substances that make up the world around us. It is concerned with the properties and behavior of atoms, molecules, and compounds, and how they interact with each other. Chemists use their knowledge of chemistry to create new materials, develop new drugs, and understand the processes that occur in the natural world. From the air we breathe to the food we eat, chemistry is a fundamental part of our daily lives.<p>
                  
                </div>
              </div>
            </div>
          </div>
    
          <div class="card mb-5" style="width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="row g-0">
              <div class="col-lg-6 col-md-12">
                <img src="https://i.postimg.cc/DwgJRbtW/42698.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Physics</h5>
                  <p class="card-text">Physics is the study of the natural world around us. It seeks to understand the fundamental principles that govern everything from the smallest particles to the largest structures in the universe. Physics encompasses a wide range of topics, including mechanics, thermodynamics, electromagnetism, optics, and quantum mechanics. By studying physics, we can gain a deeper understanding of how the universe works and use that knowledge to improve our lives through new technologies and innovations.</p>
                  
                </div>
              </div>
            </div>
          </div>
    
          <div class="card mb-5" style="width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="row g-0">
              <div class="col-lg-6 col-md-12">
                <img src="https://i.postimg.cc/jSZ40j9j/7521744.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">English</h5>
                  <p class="card-text">English is a subject that involves the study of language, literature, and communication. It is often considered a core subject in many education systems around the world, and is essential for effective communication in both personal and professional contexts. In English classes, students learn skills such as reading comprehension, writing, grammar, and vocabulary, as well as critical thinking and analysis. Literature is also an important component of the English curriculum, with students studying a variety of works from different genres and time periods. Overall, English is a subject that helps students develop their communication skills, analytical abilities, and appreciation for literature.</p>
                  
                </div>
              </div>
            </div>
          </div>
   </div>

   <a href="login"><button  class="btn" style="background-color: hsl(219, 50%, 76%); border: none; color: white;">Log In</button></a>
    
</section>


<!-- <div class="row mt-5 container text-center">

    <div class="col-lg-3 col-md-3">
        <div class="card" style="width: 19rem;">
            <img src="https://i.postimg.cc/NFH2nCcY/2341228.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

    <div class="col-lg-3 col-md-3">
        <div class="card" style="width: 19rem;">
            <img src="https://i.postimg.cc/d0ZFrbmq/2358668.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

    <div class="col-lg-3 col-md-3 ">
        <div class="card" style="width: 19rem;">
            <img src="https://i.postimg.cc/DwgJRbtW/42698.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>

    <div class="col-lg-3 col-md-3">
        <div class="card" style="width: 19rem;">
            <img src="https://i.postimg.cc/DwgJRbtW/42698.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>


</div> -->