.background-radial-gradient {
   background-color: white;
  }



  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

  .custom-shape-divider-bottom-1681232266 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681232266 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
    
}

.custom-shape-divider-bottom-1681232266 .shape-fill {
    fill: #FFFFFF;
    
}

#wave{
    background-image: linear-gradient(to right, hsl(218, 56%, 55%), hsl(219, 35%, 62%));
}

.card{
    
    background-image: linear-gradient( hsl(218, 56%, 55%), hsl(219, 35%, 62%));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}